---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/Header.astro'
import Card from '../../components/Card.astro'

export async function getStaticPaths() {
    const tools = await getCollection('tools')

    const tags = tools.map((post) => post.data.tags).flat()
    const uniqueTags = [...new Set(tags)]

    return uniqueTags.map((tag) => ({
        params: {
            slug: tag.toLowerCase()
        },
        props: {
            tag
        }
    }))
}

const tag = Astro.props.tag

// 获取所有包含该标签的工具
const tools = await getCollection('tools', ({ data }) => {
    return data.tags.includes(tag.trim().toLowerCase())
})

const title = `免费的 ${tag} 工具或服务，专为开发者打造 - AAFREE`
const description = `为开发者收集的免费 ${tag} 应用、工具或服务`
---

<Layout
    title={title}
    description={description}
    >
    
    <Header
        title={title}
        description={description}
        />

    <div class="mt-10">
        {tools.map((tool) => (
            <Card tool={tool} />
        ))}
    </div>

</Layout>