---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Card from '../components/Card.astro'

const title="关于 FreeStuffDev"
const description="关于 Free Stuff for Developer 的信息"

---

<Layout
	title={title}
	description={description}
	noIndex={true}
	>

	<Header
		title={title}
		description={description}
		/>

	<div>

		<p class="mb-3">
			FreeStuffDev 是一个为开发者收集免费资源的开源项目。它是一个为开发者精心策划的免费资源列表。
			我们的目标是帮助开发者轻松找到免费资源。
		</p>

		<p class="mb-3">
			我们欢迎贡献。如果您有任何想要分享的免费资源，请随时提交拉取请求。
		</p>

		<blockquote class="mb-5">
			> 别忘了在 <a href="https://github.com/hilmanski/freeStuffDev/">GitHub 上给我们点赞</a>
		</blockquote>	



		<h3 class="font-bold mb-3"> 关于维护者</h3>
		<p>
			你好！我叫 <a href="https://about.hilman.space/">Hilman</a>，来自印度尼西亚。我对开发/编程及其教学抱有浓厚的兴趣。
			我喜欢探索有关开发的博客、文档、课程或视频，并从中学习。
		</p>

		<p class="mt-2">
			作为一个喜欢创造事物的人，我经常发现自己在寻找免费资源来帮助我学习和构建东西。
			这就是我创建 FreeStuffDev 的原因。我希望它能像帮助我一样帮助你。
		</p>



		<h3 class="font-bold mb-3 mt-5"> 行为准则</h3>
		<p>
FreeStuffDev 欢迎来自世界各地所有人的贡献。无论您是谁，无论您的背景如何：国籍、性别、宗教，我们都欢迎您。请记住以下几点：
</p>

<ul>
<li>- 富有同理心</li>
<li>- 保持耐心</li>
<li>- 接受建设性的反馈</li>
</ul>

<p class="mt-5">
如果您有任何问题，请随时提出问题或通过 [twitter](https://twitter.com/hilmanski) 与我们联系
</p>
</Layout>

