---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Card from '../components/Card.astro'

const tools = await getCollection('tools')

const title="免费的开发者工具和服务"
const description="由开发者为开发者提供的免费工具列表。这是一个有用的服务集合，可用于您的下一个 MVP 或原型设计。"

---

<Layout
	title={title}
	description={description}
	noIndex={true}
	>

	<Header
		title="❤️ 您保存的 FreeStuffDev"
		description="*我们将其保存在本地存储中。这意味着您只能在您的浏览器中看到它。您无法与他人分享。"
		/>

	<div class="empty-message hidden">
		<p class="text-lg">您还没有保存任何工具</p>
	</div>

	<div class="mt-10">
		{
			tools.map((tool) => (
				<Card tool={tool} isHidden={true} />
			))
		}
	</div>

	<script is:inline>
		// 从本地存储中检索项目（已保存/收藏的项目）
		console.log('FAV_KEY_NAME', FAV_KEY_NAME)
		if (getObjectLS(FAV_KEY_NAME) !== null) {
			var savedItems = getObjectLS(FAV_KEY_NAME).reverse()
			
			savedItems.forEach((itemSlug) => {
				const toolCard = document.querySelector(`input[value="${itemSlug}"]`).parentNode
				toolCard.classList.remove('hidden')

				toolCard.querySelector('.save-button').classList.add('hidden')
				toolCard.querySelector('.unsave-button').classList.remove('hidden')
			})


			if (savedItems.length === 0) {
				document.querySelector('.empty-message').classList.remove('hidden')
			}
		}

	</script>

</Layout>

