---
import { getCollection } from 'astro:content' // 导入 'astro:content' 中的 getCollection 函数
import Card from '../components/Card.astro' // 导入 Card 组件
import Header from '../components/Header.astro' // 导入 Header 组件
import Layout from '../layouts/Layout.astro' // 导入 Layout 组件

// 获取所有工具集合，排除 isPaid 为 true 的项
const tools = await getCollection('tools', ({data}) => {
	return data.isPaid !== true
})

// 使用 TypeScript 按最新日期排序
tools.sort((a, b) => {
	const dateA = new Date(a.data.createdAt) as any
	const dateB = new Date(b.data.createdAt) as any
	return dateB - dateA
})

const title="为开发者提供的最新免费工具和服务" // 标题
const description="由开发者为开发者提供的最新免费工具和服务列表。这是一个有用的开发者服务集合，可用于您的下一个 MVP 或原型设计。" // 描述

---

<Layout
	title={title}
	description={description}
	>

	<Header
		title={title}
		description={description}
		/>

	<!-- 复选框 按最新或随机排序 -->
	<div class="flex justify-end items-center">
		<label for="sort" class="text-sm">排序方式：</label>
		<select id="sort"
			class="bg-gray-800 text-white text-sm rounded-md ml-2 border border-white p-2">
			<option value="newest">最新</option>
			<option value="random" >随机</option>
		</select>

		<script>
			document.getElementById('sort')?.addEventListener('change', (e) => {
				if (!e.target) return

				const sort = (e.target as any).value
				if (sort === 'newest') {
					location.href = '?sort=newest'
				} else {
					location.href = '/'
				}
			})
		</script>
	</div>

	<div class="mt-10">
		{
			tools.map((tool) => (
				<Card tool={tool} />
			))
		}
	</div>

</Layout>

